DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_SETTINGS_MODULE=config.settings.development
POSTGRES_DB=devflow
POSTGRES_USER=devflow
POSTGRES_PASSWORD=devflow
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
